h1 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 40px;
}

ul {
    list-style: none;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: block;
    margin-bottom: 15px;
}

a:link {
    text-decoration: none;
    color: darkgoldenrod;
}

a:visited {
    text-decoration: none;
    color: darkgoldenrod;
}

a:hover {
    text-decoration: wavy;
    color: purple;
}

a:active {
    color: purple;
}